<div class="secret-table"> 
  <h2>Secret Codes List</h2>
  <% if can? :generate_codes, @secret_codes %>
    <div class="random-gen">
      <%= form_tag generate_codes_secret_codes_path, :method => "get" do  %>
        <%= select_tag "code_num", options_for_select([['1'], ['10'], ['20'],['50'],['100']], params[:code_num] ) , :class => "form-control"%>
        <%= submit_tag "Code", :class => "generation btn btn-info"%>
      <% end %>
    </div>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th class="table-heading">Sl.No</th>
        <th class="table-heading">Secret Code</th>
        <th class="table-heading">Email Address</th>
      </tr>
    </thead>
    <tbody>
      <% @secret_codes.each do |code| %>
      <tr class="success">
        <td><%= code.id %></td>
        <td><%= code.secret_code %></td>
        <td><%= code.user.email unless code.user.nil?%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @secret_codes %>
</div>


